<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ADALServiceURL" value="https://login.microsoftonline.com" />
    <add key="ADALRedirectURL" value="https://microsoft.onmicrosoft.com/consoleAzureResourcesUdy" /> <!-- Your tanent domain/name of your registered app-->
    <add key="ARMBillingServiceURL" value="https://management.azure.com" />
    <add key="TenantDomain" value="microsoft.onmicrosoft.com" />  <!-- Your AAD tanent-->   
    <add key="ClientId" value="76014441-922d-4317-XXXXXXXXXXX" /> <!-- Client id of the AAD registered app-->
    <add key="EnrollmentNumber" value="udytestEnrollment" /><!-- This could be any string value used as the partition key for the Storage table-->
    <add key="AccessKey" value="YOUR Client secrets for the registered app"/>
    <add key="BillingUsageAPI" value="https://consumption.azure.com/v2/enrollments/{0}/usagedetailsbycustomdate?startTime={1}&amp;endTime={2}" />
    <!--//https://consumption.azure.com/v2/enrollments/{enrollmentNumber}/usagedetailsbycustomdate?startTime={startDate}&endTime={endDate}-->
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=udyteststoragesa;AccountKey=pj9GrcZzVvDQKzh90pi2CdrHY6oefDBSjG59MLb4HlroXXXXYYYYYZZZZZ;EndpointSuffix=core.windows.net"/><!-- connection string to an Azure storage account to store the subscription details -->
    <add key="storageTableName" value="subscriptionTable"/> <!-- this is the name of the storage table in the storage account to store the subscription details-->
    <add key="ManagementEndPoint" value="https://management.azure.com" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}/" />    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
